.section {
    padding: 94px 0;
}

.container {
    padding: 0 15px;
}

:root{
    --theme-color: #FF6C00;
    --text-primary: #303030;
    --text-secondary: #555;
    --text-secondary-lugter: #9DA4BD;
    
    --primary-font: 'Open Sens';
    --secondary-font: 'Releway';

}

body{
    font-family: var(--primary-font);
    font-weight: 700;

}
ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}
address{font-style: normal;}


    /*============Header styles starts here============*/





    
    ============Header styles end here============



