:root {
    --main-color: #212121;
    --main-color: #757575;
    --active-color: #2196f3;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #212121;
}
nav,
.links,
.contacts,
header .container {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: 'Releway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    color: var(--active-color);
}
.logo-color {
    color: var(--main-color);
    display: inline-block;
}
.links,
.contacts {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}
.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
}
.title-button {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
}
.hidden {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.7;
    overflow: hidden;
    opacity: 0;
}
.benefits {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.second-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.7;
}
.sub-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
}





/* 
.section {
    padding: 94px 0;
}

.container {
    padding: 0 15px;
    width: 1200px;
    border: 1px solid red;
    margin: 0 auto; */
}
.hidden-elem {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin-top: -1px;
} */